body {
   background-color: white;
}
.pixel {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 5px;
   width: 15px;
   background-color: white;
   border: 1px solid black;
}
.row {
   display: flex;
   /* height: 15px; */
   gap: 2px;
   margin: 2px;
}
